#theHeader {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    margin: 10px;
}

#contactInfo {
    font-size: 26px;
    text-align: center;
}

.bodyText {
    font-size: 18px;
    margin-bottom: 10px;
}

.sectionTitle {
    font-weight: bold;
    font-size: 22px;
}

.boldLine {
    font-size: 25px;
}

