

p {
    font-family: 'Yantramanav', sans-serif;
    font-size: 22px;
}
#CC {
    font-family: 'Yantramanav', sans-serif;
}

#img1 {
    float:left;
    margin-right: 15px;
}

.bgText {
    font-size: 16px;
}

#secondRow {
    margin-top: 100px;
}

#img2{
    float:right;
    width: 65%;
    margin-left: 15px;
}

#img3{
    float: right;
    width: 65%;
    margin-left: 15px;
    margin-right: 5px;
}

#img4{
    float: left;
    width: 65%;
    margin-right: 15px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
    
}

#theFooter {
    background-color: black;
    opacity: 0.8
}


#navPictures{
   
    padding: 5px;

}
#boxText {
    height: 185px;
}



.theImage {
    width: 40%;
}

.otherImages {
    
        width: 75%;
    
}

#welcomeMsg {
    padding: 50px;
}

